apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: prod
spec:
  replicas: 1
  selector: { matchLabels: { app: frontend } }
  template:
    metadata: { labels: { app: frontend } }
    spec:
      containers:
        - name: frontend
          image: ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/frontend-service:latest
          ports: [{ containerPort: 80 }]
          env:
            # URL interna de users-api (el frontend debe apuntar a esta)
            - name: USERS_API_URL
              value: "http://users-api-svc:8000"
